#include<stdio.h>
#define ERROR 0
#define OK 1


typedef int ElemType;
typedef struct Node
{
	ElemType data;
	struct Node* next; 
 } Node;
 typedef struct Node* LinkList;
 
int GetElem (LinkList L,int i,ElemType *e)
 {
 	int j;
	LinkList p;
	 p = L->next;
	 j=1;
	 
	 while(p && j<i)
	 {
	 	p = p->next;
	 	++j;
	  } 
	  if(!p && i<j)
	  {
	  	return ERROR;
	  }
	  
	  return OK;
 }
 
int main()
{
	
}
